@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
     
      
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}
.info-section {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}
.info-section h1, .info-section h2, .contact-links {
    margin-bottom: 10px;
}
.contact-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 5px 0;
}
.contact-links i {
    margin-right: 8px;
}
.profile-image {
  width: 50%;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0 5%;
    }
    .info-section {
        padding-right: 20px;
        background: none;
    }
    .profile-image {
        position: static;
        width: 50%;
        height: 100vh;
    }
}